.news-div {
	margin-bottom: 15px;
	border-bottom: 1px solid #999;
	padding: 2px;
	min-height: 110px;
	font-family: 'Titillium Web', sans-serif;
}

.news-img {
	height: 100px;
	width: 100px;
	margin-right: 10px;
	float: left;
}

#header {
	font-size: 1.6rem;
	margin-bottom: 5px;
	border-bottom: 1px solid #000;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
	background-image: url("../images/logo-large.png");
	background-repeat: no-repeat;
	background-position: 250px 5px;
	background-size: 50px 50px;
	min-height: 50px;
	padding: 10px;
}

.publish-date {
	font-size: 10px;
	color: #555;
	float: right;
}

.buttons button {
	float: left;
	width: auto;
	line-height: 1rem;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.title-link {
	color: inherit;
	font-size: 1.2rem;
	text-decoration: none;
}

.description {
	font-size: 0.8rem;
	margin: 5px;
}
